/*
 * Copyright 2014 CompuLab Ltd.
 *
 * Author: Valentin Raevsky <valentin@compulab.co.il>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	i2cmux {
		compatible = "i2c-mux-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		mux-gpios = <&gpio1 2 0>;
		i2c-parent = <&i2c1>;

		i2c@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			pca9555@26 {
			      compatible = "nxp,pca9555";
			      gpio-controller;
			      #gpio-cells = <2>;
			      reg = <0x26>;
			};

			hx8526@4a {
			      compatible = "himax,himax_ts";
			      reg = <0x4a>;
			      gpio_intr = <&gpio1 4 0>;
			};

			eeprom@50 {
				compatible = "at24,24c02";
				reg = <0x50>;
				pagesize = <16>;
			};

		};

		i2c@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			dvi: edid@50 {
				compatible = "fsl,imx6-hdmi-i2c";
				reg = <0x50>;
			};
		};

	};
};
